<!-- vim: set ts=2 sw=2: -->
<head>
{% if include_css | default(True) %}
<style>
  {% include 'style.css.j2' %} 
</style>
{% endif %}
</head>
<body>
  <!-- Team Info -->
  <div class="title">
    <span class="team-name"> {{ name }} </span>
    <span>[{{ tv }}TV]</span>
  </div>

  <!-- Team Management -->
  <div>Team League: {{ league }}</div>
  <div>
    {% for option in team_management_options %}
    <div>{{ option.name }}: {{ option.selections[0].number }}</div>
    {% endfor %}
  </div>

  <!-- Special Rules -->
  {% if special_rules %}
  <div class="special-rules">
    <div class="section-header">Special Rules</div>
    {% for rule in special_rules %}
    <div class="rule removable">
      <span class="rule-name">{{ rule.name }}</span>
      <span class="rule-desc">{{ rule.description | md }}</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="section cards">
    <!-- Players -->
    {% for player in players %}
    <div class="unit card-wrapper" type="card">
      <table class="section card movable">
        <tr class="section card-header">
          <td>
            <span class="costs">
              {% for k,v in player.costs.items() %}
                <span class="cost">
                  <span>{{ v }}</span>
                  <span>{{ k }}</span>
                </span>
              {% endfor %}
            </span>
            {% if player.custom_name %}
              <span class="custom-name">{{ player.custom_name }}</span>
            {% endif %}
            <span class="name">{{ player.name }}</span>
            {% if player.dupeCount is defined and player.dupeCount > 1 %}
              <span class="count">{{ player.dupeCount }}</span>
            {% endif %}
          </td>
        </tr>
        <tr class="section profile-row profiles group">
          <td>
            <table class="profile-group group removable">
              <tr class="header profile">
                {% for col in COLUMN_ORDER %}
                <td class="header characteristic small cell data">
                  <span class="header value">{{ col }}</span>
                </td>
                {% endfor %}
              </tr>
              <tr class="section profile row removable">
                {% for col in COLUMN_ORDER %}
                <td class="characteristic small cell data">
                  <span>{{ player.characteristics[col] | default('') | md }}</span>
                </td>
                {% endfor %}
              </tr>
            </table>
          </td>
        </tr>
        <tr class="section card-rules card-row">
          <td>
              <div class="profiles profile-row profiles group">
                <span class="header secondary cell">
                  <span class="name nowrap">Rules</span>
                </span>
                <span class="secondaries cell">
                  {% for rule in player.rules %}
                  <span class="name">{{ rule.name }}</span>
                  {% endfor %}
                </span>
              </div>
          </td>
        </tr>
        {#
        <!-- Categories -->
        <tr class="section card-keywords card-row group">
          <td>
            <span class="header secondary cell">
              <span class="header name">Categories</span>
            </span>
            <div class="secondaries cell">
              {% for category in player.categories %}
                <span class="secondary">
                  <span class="name">{{ category.name }}</span>
                </span>
              {% endfor %}
            </div>
          </td>
        </tr>
        #}
      </table>
    </div>
    {% endfor %}

    <!-- Rules -->
    {% for rule in rules %}
    <div class="rule removable">
      <span class="rule-name">{{ rule.name }}</span>
      <span class="rule-desc">{{ rule.description | md }}</span>
    </div>
    {% endfor %}
</body>