<!-- vim: set ts=2 sw=2: -->
<head>
{% if include_css | default(True) %}
<style>
  {% include 'style.css.j2' %} 
</style>
{% endif %}
</head>
<body>
  <div class="section cards">
    <!-- Team Info -->
      <div class="card-header section-header">
        <span class="team-type">{{ team_type | default('UNKNOWN') }}</span>
        <span class="custom-name">{{ name }}</span>
        <span class="costs">{{ tv }} TV</span>
      </div>
      <div class="team-option">
        <span class="option-name">Team League: </span>
        <span class="option-value">{{ league }}</span>
      </div>
      {% for option in team_management_options %}
      <div class="team-option">
        <span class="option-name">{{ option.name }}: </span>
        <span class="option-value">{{ option.quantity }}</span>
      </div>
      {% endfor %}

    <!-- Special Rules -->
    {% if special_rules %}
    <div class="card-wrapper" type="card">
      <div class="rules">
        <div class="card-header section-header">
          <span class="name">Team Special Rules</span>
        </div>
        {% for rule in special_rules %}
        <div class="rule nested">
          <span class="rule-name">{{ rule.name }}</span>
          <span class="rule-desc">{{ rule.description | md }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    
    <!-- Simple Roster Table -->
    {% if render_options.roster_table | default(True) %}
    <div class="unit card-wrapper" type="card">
      <table class="">
        <tr class="card-header profile-group">
          <th class="header characteristic small cell data">
            <span class="value">#</span>
          </th>
          <th class="header characteristic small cell data">
            <span class="value">Name</span>
          </th>
          {% for col in COLUMN_ORDER %}
          <th class="header characteristic small cell data">
            <span class="value"> {{ col }}</span>
          </th>
          {% endfor %}
        </tr>
        {% for player in players %}
        <tr class="section profile row">
          <td class="characteristic small cell data">
            <span>{{ player.number }}</span>
          </td>
          <td class="characteristic small cell data">
            <span>{{ player.custom_name or '___' }}</span>
          </td>
          {% for col in COLUMN_ORDER %}
          <td class="characteristic small cell data">
            <span class="value"> {{ player.characteristics[col] | default('') | md }}</span>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

    <!-- Players -->
    {% if render_options.player_cards | default(True) %}
    {% for player in players %}
    <div class="unit card-wrapper" type="card">
      <table class="section card movable">
        <tr class="section card-header">
          <td>
            <span class="costs">
              {% for k,v in player.costs.items() %}
                <span class="cost">
                  <span>{{ v }}</span>
                  <span>{{ k }}</span>
                </span>
              {% endfor %}
            </span>
            {% if player.custom_name %}
              <span class="custom-name">{{ player.custom_name }}</span>
            {% endif %}
            <span class="name">{{ player.name }}</span>
            {% if player.dupeCount is defined and player.dupeCount > 1 %}
              <span class="count">{{ player.dupeCount }}</span>
            {% endif %}
          </td>
        </tr>
        <tr class="section profile-row profiles group">
          <td>
            <table class="profile-group group removable">
              <tr class="header profile">
                {% for col in COLUMN_ORDER %}
                <td class="header characteristic small cell data">
                  <span class="header value">{{ col }}</span>
                </td>
                {% endfor %}
              </tr>
              <tr class="section profile row removable">
                {% for col in COLUMN_ORDER %}
                <td class="characteristic small cell data">
                  <span>{{ player.characteristics[col] | default('') | md }}</span>
                </td>
                {% endfor %}
              </tr>
            </table>
          </td>
        </tr>
        <tr class="section card-rules card-row">
          <td>
              <div class="profiles profile-row profiles group">
                <span class="header secondary cell">
                  <span class="name nowrap">Rules</span>
                </span>
                <span class="secondaries cell">
                  {% for rule in player.rules %}
                  <span class="name">{{ rule.name }}</span>
                  {% endfor %}
                </span>
              </div>
          </td>
        </tr>
        {#
        <!-- Categories -->
        <tr class="section card-keywords card-row group">
          <td>
            <span class="header secondary cell">
              <span class="header name">Categories</span>
            </span>
            <div class="secondaries cell">
              {% for category in player.categories %}
                <span class="secondary">
                  <span class="name">{{ category.name }}</span>
                </span>
              {% endfor %}
            </div>
          </td>
        </tr>
        #}
      </table>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Rules -->
    {% for rule in rules %}
    <div class="roster-rules">
      <div class="rule removable">
        <span class="rule-name">{{ rule.name }}</span>
        <span class="rule-desc">{{ rule.description | md }}</span>
      </div>
    </div>
    {% endfor %}
</body>